body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
}

/*-- Section 01--*/

header {
  background-color: #a11427;
  color: #ffffff;
  padding: 70px 70px 70px 70px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
}

.corner-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  transform: scaleX(-1);
}

header img {
  width: 80px;
}


header h1 {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 0px;
  line-height: 1;
}


header h2 {
  font-size: 18px;
  font-weight: 800;
  color: black;
  margin-top: 2px;
  margin-bottom: 18px;
  -webkit-text-stroke: 0.5px black;
}

header p {
  font-size: 11.5px;
  line-height: 1.7;
  color: #f1d9db;
  margin-bottom: 14px;
  text-align: justify;
}

header p:last-child {
  margin-bottom: 0;
}

/*-- Section 02--*/

section {
  max-width: 750px;
  margin: 0 auto;
  padding: 12px 50px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
section h3 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 18px;
}
.heading-triangle {
  width: 30px;
  margin-right: 8px;
}

section figure {
  display: flex;
  justify-content: space-between;
}

section figure img {
  width: 85px;
}

.club img {
  width: 60px;
}

.club {
  text-align: center;
}

.club figcaption {
  font-size: 12px;
  font-weight: 700;
  margin-top: 8px;
  color:  #a11427;
  white-space: nowrap;
}

.black-text {
  color: #000000;
}


/*-- Section 03--*/

footer {
  background-color:  #a11427;
  color: #ffffff;
  max-width: 750px;
  margin: 0 auto;
  padding: 35px 50px 55px 50px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
}

footer h2 {
  font-size: 29px;
  font-weight: 800;
  line-height: 1.4;
  padding: 15px;
}